body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.container {
    width: 1920px;
    margin: 0 auto;
}

.header-slider {
    position: relative;
}

.header-slider:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 1024px;
    background-image: url("../img/header-slider.png");
    *-webkit-filter: brightness(40%);
    filter: brightness(40%);
    z-index: -1;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 40px 275px 0 275px;
}

.link-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 34px;
    font-weight: 400;
    letter-spacing: -1.36px;
}

.menu-list {
    list-style-type: none;
    float: left;
}

.menu-link {
    text-decoration: none;
    margin: 0 15px 0 15px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
}

.menu-link:hover {
    color: #c7b299;
}

.btn-store {
    background-image: url("../img/icon-cart.png");
}

.btn-search {
    background-image: url("../img/icon-search.png");
}

.slider-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 928px;
    position: relative;
}

.slider-trending {
    color: #ffffff;
    font-size: 36px;
    font-weight: 500;
    margin: 0 0 14px 0;
}

.slider-h2 {
    margin: 0 0 19px 0;
    color: #ffffff;
    font-size: 52px;
    font-weight: 700;
}

.slider-content {
    margin: 0 0 50px 0;
    max-width: 590px;
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.slider-button {
    width: 170px;
    height: 53px;
    box-shadow: inset 0 -3px 0 #736357;
    border-radius: 3px;
    background-color: #998675;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    text-transform: uppercase;
}

.pagination {
    display: flex;
    justify-content: center;
    position: absolute;
    max-width: 1920px;
    width: 100%;
    bottom: 40px;
    align-items: center;
}

.circle {
    width: 11px;
    height: 11px;
    display: inline-block;
    background-color: #ffffff;
    opacity: 0.5;
    border-radius: 50%;
    margin: 5px;
}

.circle:hover {
    background-color: #ffffff;
    opacity: 0.2;
}

.circle-active {
    width: 15px;
    height: 15px;
    border: 2px solid #d3c1ad;
    background-color: transparent;
}

.left {
    background-image: url('../img/left.png');
    width: 40px;
    height: 73px;
    position: absolute;
    top: 50%;
    left: 150px;
}

.right {
    background-image: url('../img/right.png');
    width: 40px;
    height: 73px;
    position: absolute;
    top: 50%;
    right: 150px;
}

